body{
    background-image: url("images/desk.jpg");
}
/*Jumbotrons*/
    /*Big Jumbo*/
    .jumbotron{
    /*background: url("images/messydesk.jpeg");*/
    }
    /*Lil Jumbo*/
    .jumbo-h1{
        font-weight: 300;
    }

/* Manila folder background div */
    .folderdiv{
        width: 100vw;
        min-height: 100vh;
        background-image: url("images/asfalt-light.png");
        background-color: rgba(250, 225, 188, 1);
        border: 1px solid rgba(237, 210, 172, 1);
        padding: 0;
    }

/* Cool folder tabs */
    .nav{
        border-bottom: 0;
    }
    .nav-tabs{
        display: flex;
        flex-direction: column;
    }
    #custom .nav-item{
        background-color: rgba(250, 225, 188, 1);
        height: 110px;
        width: 50px;
        display: flex;
        align-content: center;
        border: 1px solid rgba(237, 210, 172, 1);
    }
    #tabsdiv {
        padding-left: 0;
    }

    /* anchors inside tabs */
        #custom .nav-link{
            border-radius: 0 10% 10% 0;
        }
        .verttabs{
            display: flex;
            flex-direction: column;
            writing-mode: vertical-rl;
            text-orientation: mixed;
            color: black;
            justify-content: center;
        }

/* Main pages content CSS */
    .tab-pane{
        margin: 20px;
        background-color: rgba(255, 255, 248, 1);
        background-image: url("images/asfalt-light.png");
        min-height: 95vh;
    }
    /*Titles*/
        .titlediv{
            justify-content: center;
        }
    /*Established Pet content*/

    /*New Pet content*/
        .infodivs, .newinfodivs, .geninfodivs{
            margin-left: 3%;
            margin-bottom: 2%;
        }

    /*General content*/
        /*Table Stuff*/
        th{
            width: 100px;
            font-weight: normal;
            border: 1px black solid;
        }
        td{
            border: 1px black solid;
        }